@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Landing page";
}

<div class="content-fluid">

    <div class="image-overlay"></div>
    <div class="leading-image">
        <div class="hero">
            <hgroup>
                <h1>Auto service management system</h1>
                <h2>This application will help you keep track of your clients and their cars' repairs history.</h2>
            </hgroup>
        </div>
    </div>
</div>

